:root {
    --boxShadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.5);
    --hatterTrans: background-color 0.3s;
}

body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/img/bodyhatter.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-size: 2vh;
}

article {
    background-color: rgb(26, 85, 112);
    padding: 1vh;
    display: block;
}

h3 {
    font-size: 2.9vh;
    font-weight: normal;
    margin: 1vh 0;
}

form {
    display: block;
    background-color: rgba(80, 202, 40, 0.739);
    margin: 2vh 7vh;
    border-radius: 3vh;
    padding: 2vh 5vh;
}

span {
    width: 8vh;
}

.formKulso {
    display: flex;
}

hr {
    color: rgba(0, 0, 0, 0.5);
    border: 0.1vh solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.5);
}

input[type=range] {
    width: 70%;
    font-size: 2vh;
}


.kezdoAdat {
    display: block;
    border: 0.1vh solid rgb(119, 119, 119);
    border-radius: 1vh;
    font-size: 2vh;
    margin: 1vh 0;
    width: 100%;
    padding: 1vh;
    transition: transform 0.3s;
}

.vissza {
    display: flex;
    height: fit-content;
    background-color: rgb(17, 55, 72);
    border-radius: 2vh;
    padding: 0;
    border: 0.1vh solid rgb(40, 118, 154);
}

.valasztasok {
    flex-wrap: wrap;
}

.vissza>a {
    padding: 1vh;
    color: white;
    text-decoration: none;
    font-size: 2vh;
}

.vissza:hover {
    background-color: rgb(28, 75, 96);
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title h1 {
    margin: 0;
}

.tablaTitle {
    text-align: center;
}

.formTarolo {
    display: inline;
    background-color: rgba(13, 179, 102, 0.7);
    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
    border: 0.2vh solid rgba(24, 129, 80, 0.7);
    padding: 2vh 0;
    text-align: center;
    font-size: 3vh;
    border-radius: 1vh;
    width: 60%;
    margin: auto;
    word-wrap: break-word;
}

.OHogyIdeIsKellEgyConainerAFlexnek {
    display: flex;
    justify-content: space-between;
    padding: 0 5vh;
}

#linTablaSzulo {
    background-color: rgba(80, 202, 40, 0.739);
    height: 100%;
    margin: 2vh 7vh;
    border-radius: 3vh;
    padding: 2vh 5vh;
}

/* Chrome, Safari, Edge */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.maradvany {
    background-color: rgb(57, 124, 219);
    border-radius: 1vh;
    padding: 0.5vh;


    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
}

#maradvany {
    border: 0.1vh solid #838383;
    border-radius: 0.5vh;
}

.ertekAdo aside {
    display: flex;
    justify-content: space-between;
    padding: 0.6vh 4vh;
    margin: 1vh 0;
    height: fit-content;
    flex-wrap: wrap;
    text-align: center;

}

.ertekAdo aside label {
    padding: 0.6vh;
    border-radius: 0.6vh;
    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
    margin: 0.5vh 0;
    display: block;
    margin: auto;

}

.ertekAdo aside {
    box-shadow: 0 0.3vh 0.3vh rgba(0, 0, 0, 0.5);
}
.marad{
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #1518c799;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.marad input{
    width: 100%;

}

.enabled {
    background-color: rgb(130, 220, 27);
}

.enabled label {
    background-color: rgb(49, 186, 31);
    color: white;
}

.ertekAdo aside input,
#elkInput {
    outline: none;
    border-radius: 0.5vh;
    border: 0.1vh solid rgb(132, 132, 132);
    text-indent: 0.5vh;
    width: 45%;
    transition: none;
    box-shadow: 0 0.2vh 0.2vh rgba(0, 0, 0, 0.5);
    font-size: 2vh;
}

.tablaGen {
    padding: 2vh 4vh;
    border-radius: 1vh;
    border: 0.1vh solid #656565;
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.453);
    cursor: pointer;
    font-size: 2vh;
    transition: background-color 0.2s;
}

.tablaGen:hover {
    background-color: rgb(160, 160, 160);
}

#linTabla tr td,
#linTabla tr,
#linTabla {
    border-collapse: collapse;
    border: 0.3vh solid#444;
    width: 10%;
    text-indent: 1vh;
}

#linTabla {
    width: 100%;
    background-color: rgb(239, 255, 211);
    margin: 0 auto 3vh;
}

.arnyek {
    box-shadow: 0 0.5vh 0.5vh rgba(0, 0, 0, 0.5);
}

.linTableHeader {
    background-color: rgb(110, 155, 31);
}

.defaultValue {
    background-color: #454545ca;
}

.linEvek {
    width: 1vh;
    background-color: #313131d9;
}

.linTablaMaradvany {
    background-color: #1518c799;
}

.linEditableContent {
    overflow: hidden;
    background-color: #ffffff99;
    outline: none;
    transition: background-color 0.3s;
    border: black;
}

.correctAwnser {
    background-color: rgb(61, 163, 78);
}

.wrongAwnser {
    background-color: rgb(182, 60, 60);
}

.disabled {
    display: none;
}

.elk {
    display: block;
    width: fit-content;
    background-color: rgba(197, 210, 111, 0.575);
    padding: 2vh;
    text-align: center;
    box-shadow: var(--boxShadow);
    border-radius: 2vh;
    transition: kbackground-color 0.3s;
    margin: 1vh;
}

.elkLabel {
    background-color: rgb(226, 247, 122);
    margin: 1vh 0;
    padding: 0.3vh;
    box-shadow: var(--boxShadow);
    border-radius: 1vh;
}

#elkInput {
    height: 100%;
    color: black;
    transition: background-color 0.3s;
}

.mediaLineBreak {
    display: none;
}

#ellenorzoGomb {
    padding: 1vh;
    outline: none;
    background-color: #bb74eb;
    box-shadow: var(--boxShadow);
    border: 0.05vh solid black;
    border-radius: 1vh;
    transition: var(--hatterTrans);
}

#ellenorzoGomb:hover {
    background-color: #cb8ff4;
    transition: var(--hatterTrans);
}

@media screen and (max-width: 550px) {
    #linTablaSzulo {
        background-color: rgba(80, 202, 40, 0.739);
        margin: 2vh 0vh;
    }
    aside.enabled label{
        display: block;
        margin: auto;
        width: 100%;
    }
    .formTarolo {
        width: 100%;
    }

    #tablaGeneralas {
        margin: 0 1vh;
    }
    #linMaradvany{
        display: block;
        margin: auto;
        position:sticky;
    }
}

@media screen and (max-width: 600px) {
    #linTablaSzulo {
        background-color: rgba(80, 202, 40, 0.739);
        margin: 2vh 0vh;
    }

    .maradvany {
        word-wrap: break-word;
        width: 100%;
        padding: 0;
        top: 0;
    }
    .marad{
        padding: 0;
    }
    .mediaVanish {
        display: none;
    }

    #linTablaSzulo {
        padding: 1vh 0;
    }

    #ellenorzoGomb {
        display: block;
        margin: auto;
    }

    #linBrutto,
    #linMaradvany {
        width: 100%;
    }
}

@media screen and (min-width: 800px) {
    #tablaGeneralas * {
        font-size: 1.5vw;
    }

    #linTablaSzulo * {
        font-size: 2vw;
    }

    #ellenorzoGomb {
        display: block;
        margin: auto;
    }
}