body {
         background-image: url(img/bodyhatter.jpg);
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         margin: 0;
}

main{
         margin: 7vh;
         padding: 4vh;
         background: linear-gradient(to right, rgba(30, 167, 99, 0.5), rgba(169, 231, 81, 0.5));
         border-radius: 2vh;
         backdrop-filter: blur(2px);
         padding-bottom: 30vh;
         overflow: hidden;
}

