body {
         background-image: url(img/bodyhatter\ \(2\).jpg);
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         margin: 0.4;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
        background-color: rgba(141, 185, 198, 0.8);
         background-size: cover;
         background-repeat: no-repeat;
         background-position: bottom;
         border-radius: 3vh;
         border: 0.2vh solid #96A78D;
         padding: 20vh 10vh;
         box-shadow: 0 1vh 0.4vh rgba(50, 50, 50, 0.293);
         margin: 0 7vh;
}

h1 {
         background-color: #749BC2b2;
         text-align: center;
         border-radius: 2vh;
         word-wrap: break-word;
         font-size: 6vh;

}

nav {
         background-image: url(img/clock-2696234_1920.jpg);
         background-size: contain;
         background-repeat: no-repeat;
         margin: 2vh 7vh;
}

table,
tr, td {
         border-collapse: collapse;
         background-color: #7f9c70;
         transition: background-color 0.15s ease;
         text-align: center;
         border-radius: 1vh;
}

tr {
         display: flex;
         justify-content: space-between;
         width: 100%;
         background-color: #84AE92;
         padding: 0.4vh;

}

table {
         width: 100%;
         border-radius: 1vh;
         height: 10vh;
         background-color: #F0F0F0;
}

td {
         display: flex;
         justify-content: center;
         align-items: center;
         width: 22%;
         border: 0.2vh solid #b4d8b1;
         margin: 0.3vh;
         border-radius: 1vh;
         background-color: #6d9757;
         margin-bottom: 1vh;
         box-shadow: 0 0.1vh 0.1vh rgba(0, 0, 0, 0.5);
         transition: box-shadow 0.3s ease;
         transition: margin 0.3s ease;
         transition: padding 0.3s ease;
         height: 8vh;
         cursor: pointer;
}

td:hover {
         border-collapse: collapse;
         color: 0.2vh solid #96A78D;
         background-color: #8fb18c;
         padding: 0 0.8vh;
         box-shadow: 0 0.2vh 0.5vh rgba(0, 0, 0, 0.5);
         transition: background-color 0.15s ease;
         transition: box-shadow 0.15s ease;
         transition: margin 0.3s ease;
         transition: padding 0.3s ease;


}

a {
         text-decoration: none;
         color: rgb(27, 27, 27);
         font-size: 3vh;
         text-align: center;
         user-select: none;
}

a:hover {
         background-color: 0.2vh solid #B6CEB4;
         transition: background-color 0.3 ease;
}

td:hover>a {
         color: 0.2vh solid #96A78D;
         transition: color 0.3 ease;
}

hr {
         color: #00000000;
         border: 0.1vh solid rgba(0, 0, 0, 0);
         box-shadow: 0 0.5vh 0.1vh rgba(0, 0, 0, 0.463);
}
main{
         display: flex;
         margin: 7vh;
         padding: 4vh;
         background: linear-gradient(to right, rgba(13, 168, 211, 0.5), rgba(17, 193, 154, 0.5));
         border-radius: 2vh;
}
main > *{
         padding: 2vh;
}
#quizmain, #tananyagokmain, #ertekcsokkenesmain{
         display: none;
}
img{
         height: 35vh;
         width: 60vh;
         border-radius: 1vh;
}
article{
         background-color: #6d9757;
         padding: 2vh;
         border-radius: 2vh;
         margin: 1vh;
}
footer{
         background-color: #6d9757;
         text-align: center;
}
h2{
         margin: 0;
         padding: 1vh;
         font-size: 2.3vh;
}
p{
         font-size: 1.3vh;
}


.mozgokepek {
  opacity: 0;
  transition: opacity 1s ease-in-out;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
}

.mozgokepek.megjelenik {
  opacity: 1;
}

.mozgokepek.kifakul {
  opacity: 0;
}

#kepvetites {
  position: relative;
  overflow: hidden;
}