body{
         background-image: url(img/bodyhatter.jpg);
         background-attachment: fixed;
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         
}

button{
  background-color: rgba(141, 185, 198);
  border-radius: 2vh;
  padding: 2vh;
}

header{
  background: linear-gradient(to right, rgba(141, 185, 198, 0.8), rgba(227, 215, 115, 0.5));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  border-radius: 3vh;
  border: 0.2vh solid #96A78D;
  padding: 10vh 10vh;
  box-shadow: 0 1vh 0.4vh rgba(50, 50, 50, 0.293);
  backdrop-filter: blur(2px);
  margin-bottom: 5vh;
}

main{
  display: flex;
  flex-wrap: wrap;
  background: linear-gradient(to right, rgba(30, 167, 99, 0.5), rgba(169, 231, 81, 0.5));
  border-radius: 2vh;
  backdrop-filter: blur(2px);
}

section{
  justify-content: space-around;
  margin: auto;
  padding: 3%;
}


.kartya {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 320px;
  padding: 2px;
  border-radius: 24px;
  overflow: hidden;
  line-height: 1.6;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.tartalom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 34px;
  border-radius: 22px;
  color: #ffffff;
  overflow: hidden;
  background: #ffffff;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.tartalom .fej {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.3;
  z-index: 1;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.tartalom .szoveg {
  z-index: 1;
  opacity: 0.8;
  font-size: 18px;
  transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
}

.kartya::before {
  content: "";
  position: absolute;
  height: 160%;
  width: 160%;
  border-radius: inherit;
  background: #0a3cff;
  background: linear-gradient(to right, #48c250, #074927);
  transform-origin: center;
  animation: moving 4.8s linear infinite paused;
  transition: all 0.88s cubic-bezier(0.23, 1, 0.32, 1);
}

.kartya:hover::before {
  animation-play-state: running;
  z-index: -1;
  width: 20%;
}

.kartya:hover .tartalom .fej,
.kartya:hover .tartalom .szoveg {
  color: #000000;
}

.kartya:hover {
  box-shadow: 0rem 6px 13px rgba(10, 60, 255, 0.1),
    0rem 24px 24px rgba(10, 60, 255, 0.09),
    0rem 55px 33px rgba(10, 60, 255, 0.05),
    0rem 97px 39px rgba(10, 60, 255, 0.01), 0rem 152px 43px rgba(10, 60, 255, 0);
  scale: 1.05;
  color: #000000;
}

@keyframes moving {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}



